/*body styles*/
body {
font-family: 'Permanent Marker', cursive;
text-shadow: -1px -1px 1px #222222, 1px 1px 1px #222222;
margin:0 auto;

}

    /*background styles*/
    .backgroundSet {

        min-height:1200px;
        width:100%;
        float:left;
        position:relative;
        z-index:2;
        margin:0 auto;
    }

        /*background image styles*/
        .backgroundImage {

            min-height:1200px;
            width:100%;
            float:left;
            position:relative;
            z-index:0;
            margin:0 auto;
        }

            #homeBackgroundImage {

                min-height:1300px;
                width:100%;
                background-image: url('res/images/mixingboard.png');
                background-position:center;
                background-size:cover;
                margin:0 auto;
            }

            #aboutMeBackgroundImage {

                min-height: 1300px;
                width: 100%;
                background-image: url('res/images/mixingboard.png');
                background-position:center;
                background-size:cover;
                filter:blur(10px);
                margin:0 auto;
            }

            #portfolioBackgroundImage {

                min-height: 1300px;
                width: 100%;
                background-image: url('res/images/mixingboard.png');
                background-position:center;
                background-size:cover;
                filter:blur(10px);
                margin:0 auto;
            }

            #contactBackgroundImage {

            }

        /*END background image styles*/

        /*background FX styles*/
        .backgroundFX {

            min-height:1300px;
            width:100%;
            float:left;
            position:absolute;
            z-index:1;
            margin:0 auto;
        }

            #homeBackgroundFX {

                min-height:1300px;
                width:100%;
                margin:0 auto;
            }

            #aboutMeBackgroundFX {

                min-height:1300px;
                width:100%;
                background-position:center;
                background-size:cover;
                background-color:#bbbbbb;
                opacity: 0.2;
                margin:0 auto;
            }

            #portofolioBackgroundFX {

                min-height:1300px;
                width:100%;
                background-position:center;
                background-size:cover;
                background-color:#bbbbbb;
                opacity: 0.2;
                margin:0 auto;
            }

            #contactBackgroundFX {

            }
        /*END background FX styles*/

    /*END background styles*/

    /*foreground styles*/
    .foregroundSet {

        height:1200px;
        width:100%;
        float:left;
        position:absolute;
        z-index:3;
    }

        /*navigation style*/
        nav {

            height:80px;
            width:100%;
            margin-left:0;
            margin-right:0;
            margin-top:0;
            background-color:#333333;
            box-shadow: 2px 2px 2px 2px #222222;
        }

            /*logo style*/
            #logo {

                display:inline-block;
                height:51px;
                width:200px;
                color:#8f2121;
                padding-left:30px;
                padding-top:18px;
                font-size:30px;
                letter-spacing:2px;
                font-weight:900;
                white-space:nowrap;
            }

                #logo a {

                    text-decoration:none;
                    color:#7f1111;
                }
            /* END logo style */

            /*links style*/
            #navLinks {

                list-style:none;
                display:inline-block;
                float:right;
                padding-right:30px;
                padding-top:23px;
            }

                #navLinks li {

                    float:left;
                    padding-left:20px;
                }

                    #navLinks li a {

                        color:#AAAAAA;
                        text-decoration:none;
                        letter-spacing:2px;
                        font-size:24px;
                    }

                    #navLinks li .current {

                        color:#7f1111;
                    }
            /*END links style*/

        /* END navigation style */

        /* introduction style */
        #intro {

            height:1200px;
            width:100%;
        }

            #intro h2 {

                font-size: 75px;
                letter-spacing:2px;
                text-transform:uppercase;
                color:#7f1111;
                padding-top:300px;
                text-align:center;
                margin-top:0;
            }
        /* END introduction style*/

        /* about me styles */

        /*about me head style*/
        #aboutMeHead {

            min-height:1200px;
            width:100%;
        }

            #aboutMeHead h1 {

                font-size:60px;
                text-align:center;
                letter-spacing:4px;
                padding-top:100px;
                margin-top:0;
                margin-bottom:0;
                color:#7F1111;
            }

            #aboutMeHead h2 {

                text-align:center;
                color:#7f1111;
                letter-spacing:5px;
                font-size:18px;
                font-weight:300;
                margin-top:5px;
                margin-bottom:30px;
            }
        /*END about me head style*/

        /*about me content styles*/
        #aboutMe {
            min-height:600px;
            width: 75%;
            background-color:transparent;
            margin:100px auto;
            margin-top:20px;
            display:table;
            float:none;
        }

            /*about mixing styles*/
            #aboutMixing {

                height:610px;
                width:33%;
                border:2px solid #aaaaaa;
                display:inline-block;
                margin:0 auto;
                box-shadow: 2px 2px 5px 5px #424242;
                float:none;
                align-self:center;
            }

                /*about mixing background style*/
                #aboutMixingBackgroundSet {

                    height:608px;
                    width:24.5%;
                    margin:0 auto;
                    position:absolute;
                    z-index:6;
                }

                    #aboutMixingBackgroundImage {

                        height:608px;
                        width:100%;
                        background-image: url('res/images/mixingboard.png');
                        background-position:center;
                        background-size:cover;
                        position:relative;
                        z-index:4;
                        filter:blur(1px);
                        float:left;
                    }

                    #aboutMixingBackgroundFX {

                        margin-top:200px;
                        height:160px;
                        width:100%;
                        background-color:#bbbbbb;
                        opacity:0.4;
                        position: absolute;
                        z-index:5;
                        float:left;
                    }
                /*END about mixing background style*/

                /*about mixing foreground style*/
                #aboutMixingForegroundSet {

                    height:608px;
                    width:24.5%;
                    position:absolute;
                    z-index:7;
                    padding: 0;
                    margin: 0 auto;
                }

                    #aboutMixingForegroundSet h1 {

                        padding-top:120px;
                        text-align:center;
                        font-size:50px;
                    }

                    #aboutMixingForegroundSet p {

                        text-align:center;
                        padding:5px;
                        padding-top:25px;
                        text-shadow: -1px -1px 1px #999999, 1px 1px 1px #999999;
                    }
                /*END about mixing foreground style*/

            /*END about mixing styles*/

            /*about myself styles*/
            #aboutMyself {

                height:610px;
                width:33%;
                border:2px solid #aaaaaa;
                display:inline-block;
                margin:0 auto;
                box-shadow: 2px 2px 5px 5px #424242;
                float:none;
                align-self:center;
            }

                /*about myself background style*/
                #aboutMyselfBackgroundSet {

                    height:608px;
                    width:24.5%;
                    margin:0 auto;
                    position:absolute;
                    z-index:10;
                }

                    #aboutMyselfBackgroundImage {

                        height:608px;
                        width:100%;
                        background-image: url('res/images/music.jpg');
                        background-position:center;
                        background-size:cover;
                        position:relative;
                        z-index:8;
                        filter:blur(2px);
                        float:left;
                    }

                    #aboutMyselfBackgroundFX {

                        margin-top:200px;
                        height:160px;
                        width:100%;
                        position:absolute;
                        background-color:#bbbbbb;
                        opacity:0.4;
                        z-index:9;
                        float:left;
                    }
                /*END about myself background style*/

                /*about myself foreground style*/
                #aboutMyselfForegroundSet {

                    height:608px;
                    width:24.5%;
                    position:absolute;
                    padding: 0;
                    margin: 0 auto;
                    z-index:11;
                }

                    #aboutMyselfForegroundSet h1 {

                        padding-top:120px;
                        text-align:center;
                        font-size:50px;
                    }

                    #aboutMyselfForegroundSet p {

                        text-align:center;
                        padding:5px;
                        padding-top:25px;
                        text-shadow: -1px -1px 1px #999999, 1px 1px 1px #999999;
                    }
                /*END about myself foreground style*/

            /*END about myself styles*/

            /*about mastering styles*/
            #aboutMastering {

                height:610px;
                width:33%;
                border:2px solid #aaaaaa;
                display:inline-block;
                margin:0 auto;
                box-shadow: 2px 2px 5px 5px #424242;
                float:none;
                align-self:center;
            }

                /*about mastering background style*/
                #aboutMasteringBackgroundSet {

                    height:608px;
                    width:24.5%;
                    margin:0 auto;
                    position:absolute;
                    z-index:10;
                }

                    #aboutMasteringBackgroundImage {

                        height:608px;
                        width:100%;
                        background-image: url('res/images/music.jpg');
                        background-position:center;
                        background-size:cover;
                        position:relative;
                        z-index:8;
                        filter:blur(2px);
                        float:left;
                    }

                    #aboutMasteringBackgroundFX {

                        margin-top:200px;
                        height:160px;
                        width:100%;
                        position:absolute;
                        background-color:#bbbbbb;
                        opacity:0.4;
                        z-index:9;
                        float:left;
                    }
                /*END about mastering background style*/

                /*about mastering forground style*/
                #aboutMasteringForegroundSet {

                    height:608px;
                    width:24.5%;
                    padding: 0;
                    margin: 0 auto;
                    position:absolute;
                    z-index:11;
                }

                    #aboutMasteringForegroundSet h1 {

                        padding-top:120px;
                        text-align:center;
                        font-size:50px;
                    }

                    #aboutMasteringForegroundSet p {

                        text-align:center;
                        padding:5px;
                        padding-top:25px;
                        text-shadow: -1px -1px 1px #999999, 1px 1px 1px #999999;
                    }
                /*END about mastering foreground style*/

            /*END about mastering styles*/

        /*END about me content styles*/

        /* END about me styles */

        /*portfolio styles*/

            /*portfolio head styles*/
            #portfolioHead {

                display:block;
                margin-top:150px;
                margin-bottom:85px;
            }

            #portfolioHead h1 {

                color:#7f1111;
                text-align:center;
                font-size:100px;
                margin-bottom:30px;
            }

            #portfolioHead h2 {

                color:#3f3131;
                margin-top:0px;
                text-align:center;
                font-size:40px;
            }

            /*END portfolio head styles*/

            /*audio player styles*/
            #playlist, audio {

                background:#000000;
                width:100%;
                padding:5px;
                padding-bottom:0px;
                margin:0 auto;
                display:flex;
                box-shadow:0px 0px 5px 3px #242424;
            }

            #playlist {

                min-height:610px;
                margin-top:0px;
                padding-top:0px;
                display:block;
                margin-bottom:100px;
                padding-bottom:5px;
            }

            #playlist li {

                color:#eeeedd;
                background:#222222;
                padding:5px;
                padding-left:10px;
                margin:0 auto;
                list-style:decimal inside none;
                width:100%;
            }

            #playlist li a {

                color:#eeeedd;
            }

            .active, .active a {

                color:#7f1111 !important;
                text-decoration:none;
            }

            #playlist label a:hover{

                text-decoration:none;
            }

            /*END audio player styles*/

        /*END portfolio styles*/

        /* footer style */
        #footer {

            height:50px;
            width:100%;
            background-color:#333333;
            box-shadow:2px 2px 5px 5px #222222;
        }

            #footer p {

                text-align:center;
                color: #999999;
                font-weight:600;
                padding-top:15px;
                letter-spacing:2px;
                font-size:14px;
                margin-top:0;
                margin-bottom:0;
            }
        /* END footer style */

    /*END foreground styles*/

@media(max-width:1680px) {

    #aboutMixing, #aboutMyself, #aboutMastering {
        display:flex;
        margin-bottom:10px;
        width:75%;
    }

    #aboutMixingBackgroundSet, #aboutMixingForegroundSet, #aboutMyselfBackgroundSet, #aboutMyselfForegroundSet,
    #aboutMasteringBackgroundSet, #aboutMasteringForegroundSet {

        width:55.85%;
    }

    .backgroundSet, .backgroundImage {

        min-height:1200px;
    }

    #aboutMeBackgroundImage, #aboutMeBackgroundFX {

        min-height:2300px;
    }

    #homeBackgroundImage, #homeBackgroundFX, #portfolioBackgroundImage, #portofolioBackgroundFX {

        min-height:1300px;
    }

    @media(max-width:1095px) {

        nav {

            height:115px;
        }
        nav #logo, nav #navLinks, nav #navLinks li {

            float:none;
            width:100%;
            text-align:center;
            padding-left:10px;
            padding-right:10px;
        }

        nav #navLinks {

            display:flex;
            padding-top:15px;
            padding-bottom:20px;
            white-space:nowrap;

        }

        nav #navLinks li a {

            font-size:18px;
        }

        nav #logo {

            font-size:24px;
        }

        #intro h2 {

            font-size:70px;
            padding-left:15px;
            padding-right:15px;
        }

        #homeBackgroundImage, #homeBackgroundFX, #portfolioBackgroundImage, #portofolioBackgroundFX {

            min-height:1340px;
        }

        @media(max-width:540px) {

            #aboutMixingBackgroundSet, #aboutMixingForegroundSet, #aboutMyselfBackgroundSet, #aboutMyselfForegroundSet,
            #aboutMasteringBackgroundSet, #aboutMasteringForegroundSet {

                width:56%;
            }

            #aboutMixingForegroundSet h1, #aboutMyselfForegroundSet h1, #aboutMasteringForegroundSet h1 {

                font-size:30px;
                padding-left:10px;
                padding-right:10px;
                padding-top:145px;
            }

            #aboutMixingForegroundSet p, #aboutMyselfForegroundSet p, #aboutMasteringForegroundSet p {

                font-size:16px;
            }

            #portfolioHead h1 {

                font-size:75px;
            }

            #portfolioHead h2 {

                font-size:35px;
            }

            @media(max-width:535px) {

                #aboutMixingBackgroundSet, #aboutMixingForegroundSet, #aboutMyselfBackgroundSet, #aboutMyselfForegroundSet,
                #aboutMasteringBackgroundSet, #aboutMasteringForegroundSet {

                    width:55.6%;
                }

                #aboutMixingBackgroundFX, #aboutMyselfBackgroundFX, #aboutMasteringBackgroundFX {

                    height:200px;
                }

                @media(max-width:480px) {

                    #aboutMixingBackgroundFX, #aboutMyselfBackgroundFX, #aboutMasteringBackgroundFX {

                        height:230px;
                    }

                    #aboutMeBackgroundImage, #aboutMeBackgroundFX {

                        min-height:2400px;
                    }

                    #portfolioBackgroundImage, #portofolioBackgroundFX {

                        min-height:1300px;
                    }


                    @media(max-width:440px) {

                        nav {

                            height:85px !important;
                        }

                        #logo {

                            font-size:20px !important;
                            padding-top:10px !important;
                        }

                        #navLinks {

                            padding-top:0px !important;
                        }

                        #navLinks li a {

                            font-size:13px !important;
                        }

                        #portfolioHead {

                            margin-top:100px !important;
                        }

                        #intro {

                            height:700px;
                        }

                        #intro h2 {

                            font-size:60px;
                            padding-left:10px;
                            padding-right:10px;
                            padding-top:100px;
                        }

                        .backgroundSet, .backgroundImage, .backgroundFX, #homeBackgroundImage, #homeBackgroundFX {

                            min-height:800px;
                        }

                        #aboutMeBackgroundImage, #aboutMeBackgroundFX {

                            min-height:2340px;
                        }

                        #portfolioBackgroundImage, #portfolioBackgroundFX {

                            min-height:1200px;
                        }

                        #playlist {

                            margin-bottom: 120px;
                        }

                        @media(max-width:400px) {

                            #logo {

                                font-size:16px !important;
                            }

                            #navLinks li a {

                                font-size:12px !important;
                            }

                            #intro h2 {

                                font-size:50px;
                                padding-left:10px;
                                padding-right:10px;
                            }

                            #aboutMixingForegroundSet h1, #aboutMyselfForegroundSet h1, #aboutMasteringForegroundSet h1 {

                                font-size:25px;
                                padding-left:10px;
                                padding-right:10px;
                                padding-top:155px;
                            }

                            #aboutMixingForegroundSet p, #aboutMyselfForegroundSet p, #aboutMasteringForegroundSet p {

                                font-size:12px;
                            }

                            #portfolioHead h1 {

                                font-size:50px;
                            }

                            #portfolioHead h2 {

                                font-size:25px;
                            }

                            #aboutMeBackgroundImage, #aboutMeBackgroundFX {

                                min-height:2340px;
                            }

                            #portfolioBackgroundImage, #portofolioBackgroundFX {

                                min-height:1180px;
                            }

                            @media(max-width:340px) {

                                #logo {

                                    font-size:15px !important;
                                }

                                #navLinks li a {

                                    font-size:10px !important;
                                }

                                #intro h2 {

                                    font-size:40px;
                                    padding-left:10px;
                                    padding-right:10px;
                                }

                                #portfolioHead h1 {

                                    font-size:40px;
                                }

                                #portfolioHead h2 {

                                    font-size:20px;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}
/*END body styles*/
